body {
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

.App {
  padding: 2rem;
}

nav {
  display: flex;
  gap: 2rem;
  margin-bottom: 2em;
}

a {
  font-weight: 700;
  color: rgb(114, 141, 158);
  text-decoration: none;
}

.active {
  color: rgb(0, 151, 245);
  text-decoration: underline;
}
