body {
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

.App {
  padding: 2rem;
}

nav {
  display: flex;
  gap: 10px;
  margin-bottom: 2em;
}

.active {
  color: red;
}
